// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.album {
  text-align: center;
  width: 210px;
  height: auto;
  position: relative;
  float: left;
  padding: 5px 5px 5px 5px;
  margin: 10px 10px 10px 10px;
  background-color: #E5E7E9;
}

.thumbs img {
  padding: 5px 5px 5px 5px;
}
